<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap mp rescap">

    <Identity
      Name="64360VelerSoftware.PaZword"
      Publisher="CN=3D87C8C2-C6F4-4875-B258-5FEC13B08F81"
      Version="2020.7.7.1" />

    <mp:PhoneIdentity PhoneProductId="8c4858c9-136d-4797-bd39-ad0bada941ea" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

    <Properties>
        <DisplayName>PaZword</DisplayName>
        <PublisherDisplayName>etiennebaudoux</PublisherDisplayName>
        <Logo>Assets\StoreLogo.png</Logo>
    </Properties>

    <Dependencies>
        <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    </Dependencies>

    <Resources>
        <Resource Language="EN" />
        <Resource Language="RU" />
        <Resource Language="FR" />
    </Resources>

    <Applications>
        <Application Id="App"
          Executable="$targetnametoken$.exe"
          EntryPoint="PaZword.App">
            <uap:VisualElements
              DisplayName="PaZword"
              Square150x150Logo="Assets\Square150x150Logo.png"
              Square44x44Logo="Assets\Square44x44Logo.png"
              Description="PaZword" BackgroundColor="#AF1616">
                <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" ShortName="PaZword" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png">
                    <uap:ShowNameOnTiles>
                        <uap:ShowOn Tile="square150x150Logo"/>
                        <uap:ShowOn Tile="wide310x150Logo"/>
                        <uap:ShowOn Tile="square310x310Logo"/>
                    </uap:ShowNameOnTiles>
                </uap:DefaultTile >
                <uap:SplashScreen Image="Assets\SplashScreen.png"  BackgroundColor="#AF1616"/>
                <uap:InitialRotationPreference>
                    <uap:Rotation Preference="landscape"/>
                    <uap:Rotation Preference="portrait"/>
                    <uap:Rotation Preference="landscapeFlipped"/>
                    <uap:Rotation Preference="portraitFlipped"/>
                </uap:InitialRotationPreference>
            </uap:VisualElements>
        </Application>
    </Applications>

    <Capabilities>
        <Capability Name="internetClient" />
        <rescap:Capability Name="confirmAppClose" />
    </Capabilities>
</Package>